.toast-title {
  font-weight: 700;
}

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.toast-message a,
.toast-message label {
  color: #FFF;
}

.toast-message a:hover {
  color: #CCC;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
  -webkit-text-shadow: 0 1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  line-height: 1;
}

.toast-close-button:focus,
.toast-close-button:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

.rtl .toast-close-button {
  left: -0.3em;
  float: left;
  right: 0.3em;
}

button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 12px;
  left: 12px;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
}

#toast-container * {
  box-sizing: border-box;
}

#toast-container > div {
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  box-shadow: 0 0 12px #999;
  color: #FFF;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

#toast-container > div.rtl {
  direction: rtl;
  padding: 15px 50px 15px 15px;
  background-position: right 15px center;
}

#toast-container > div:hover {
  box-shadow: 0 0 12px #000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}

#toast-container > .toast-info {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=) !important;
}

#toast-container > .toast-error {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=) !important;
}

#toast-container > .toast-success {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important;
}

#toast-container > .toast-warning {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=) !important;
}

#toast-container.toast-bottom-center > div,
#toast-container.toast-top-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#toast-container.toast-bottom-full-width > div,
#toast-container.toast-top-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.toast {
  background-color: #030303;
}

.toast-success {
  background-color: #51A351;
}

.toast-error {
  background-color: #BD362F;
}

.toast-info {
  background-color: #2F96B4;
}

.toast-warning {
  background-color: #F89406;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }

  #toast-container > div.rtl {
    padding: 8px 50px 8px 8px;
  }

  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }

  #toast-container .rtl .toast-close-button {
    left: -0.2em;
    right: 0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }

  #toast-container > div.rtl {
    padding: 8px 50px 8px 8px;
  }

  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }

  #toast-container .rtl .toast-close-button {
    left: -0.2em;
    right: 0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }

  #toast-container > div.rtl {
    padding: 15px 50px 15px 15px;
  }
}

.toast {
  width: 400px;
  color: #212121;
}

.toast-success {
  background-color: #0dceda;
  color: black;
}

html,
body {
  width: 100%;
  color: #212121;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.1rem;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  display: block;
}

.msg-slide {
  position: absolute;
  background: rgba(13, 206, 218, 0.7);
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}

#header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ebfffa;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1179px) {
  #header {
    padding: 0 32px;
  }
}

#header .inner {
  display: flex;
  align-items: center;
  width: 1180px;
  justify-content: space-between;
}

#header .header__nav-list {
  display: flex;
}

#header .header__nav-item {
  padding: 8px;
  border-radius: 5px;
  margin-left: 16px;
}

.logined-header__nav-item .logined-header__nav-item__img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

#main .main__inner {
  width: 1180px;
  margin: 32px auto;
}

@media screen and (max-width: 1179px) {
  #main .main__inner {
    width: 100%;
  }
}

#main .columns-2 {
  display: flex;
}

.input-panel__container {
  display: flex;
  justify-content: space-around;
}

.input-panel {
  width: 480px;
  padding: 32px 40px;
}

.input-panel .panel-title {
  font-size: 30px;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: #757575 1px solid;
}

.input-panel .form-item {
  margin-top: 16px;
}

.input-panel .form-item .form-item__body .form-item__input {
  display: block;
  border: 1px solid #BDBDBD;
  width: 100%;
  border-radius: 16px;
  height: 48px;
  padding-left: 5px;
}

.input-panel .form-item .form-item__body .form-item__body__error {
  font-size: 12px;
  color: #f38181;
}

.input-panel .input-panel-btn__wrap {
  padding-top: 24px;
}

.input-panel .input-panel-btn__wrap .submit-btn {
  width: 100%;
  text-align: center;
  background: #6ef3d6;
  height: 48px;
  border-radius: 5px;
}

.input-panel .input-panel-btn__wrap .submit-btn:hover {
  background: #0dceda;
}

.input-panel .input-panel-btn__wrap .submit-btn__link {
  margin-top: 32px;
  text-align: center;
  font-size: 14px;
}

.input-panel .input-panel-btn__wrap .submit-btn__link {
  color: #757575;
}

.login-panel .submit-btn {
  margin-bottom: 16px;
}

.login-panel .login-btn__info {
  text-align: center;
}

.login-panel .submit-checkbox {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.login-panel .login-btn__info-msg {
  font-size: 14px;
  vertical-align: bottom;
}

.dashbord-menu__list-nav {
  width: 200px;
  font-size: 16px;
}

.dashbord-menu__list-nav .dashbord-menu__list-ul {
  border: 1px solid #BDBDBD;
  padding: 15px 10px;
  border-radius: 10px;
}

.dashbord-menu__list-nav .dashbord-menu__list-ul .dashbord-menu__list-item {
  margin-bottom: 24px;
}

.dashbord-menu__list-nav .dashbord-menu__list-ul .dashbord-menu__list-item .dashbord-menu__list-item-link i {
  margin-right: 16px;
}

.dashbord-menu__list-nav .dashbord-menu__list-ul .dashbord-menu__list-item .dashbord-menu__list-item-link:hover {
  opacity: 0.7;
}

.dashbord-menu__list-nav .profile-card {
  padding: 8px 16px;
  border: 1px solid #BDBDBD;
}

.dashbord-menu__list-nav .profile-card .profile-card__img {
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

.dashbord-menu__list-nav .profile-card .profile-card__name {
  font-size: 14px;
}

.my-habits__section {
  width: 100%;
  padding: 0 56px;
}

.my-habits__section .section-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.my-habits__section .my-habits__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.my-habits__section .my-habits__container .my-habits__card {
  width: 440px;
  height: 160px;
  padding: 10px 15px;
  border: 2px solid #BDBDBD;
  margin-bottom: 30px;
  box-shadow: 2px 2px 6px #bdbdbd;
}

.my-habits__section .my-habits__container .my-habits__card .my-habits__card-body {
  height: 80px;
  overflow: hidden;
}

.my-habits__section .my-habits__container .my-habits__card .my-habits__card-tag {
  font-size: 14px;
}

.my-habits__section .my-habits__container .my-habits__card:hover {
  opacity: 0.8;
}

.main-sections__container {
  width: 100%;
  padding: 0 48px;
}

.main-sections__container .section-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.main-sections__container .habit-input__container {
  position: relative;
}

.main-sections__container .habit-input__container .form-item__columns-3 {
  display: flex;
}

.main-sections__container .habit-input__container .form-item__columns-3__contents {
  width: 20%;
}

.main-sections__container .habit-input__container .form-item {
  margin-bottom: 24px;
}

.main-sections__container .habit-input__container .form-item .form-item__body .form-item__select {
  width: 180px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  padding: 0 8px;
}

.main-sections__container .habit-input__container .form-item .form-item__body .form-item__textarea {
  width: 100%;
  padding: 0 5px;
  height: 60px;
  border: 1px solid #BDBDBD;
}

.main-sections__container .habit-input__container .form-item .form-item__body .form-item__date {
  border: 1px solid #BDBDBD;
  border-radius: 5px;
}

.main-sections__container .habit-input__container .form-item .form-item__checkbox {
  width: 18px;
  height: 18px;
  vertical-align: -2px;
}

.main-sections__container .btn-wrap {
  display: flex;
  justify-content: center;
}

.main-sections__container .form-input_btn {
  width: 160px;
  text-align: center;
  padding: 8px;
  border: 2px solid #0dceda;
  border-radius: 10px;
}

.main-sections__container .form-input_btn:hover {
  transition: 0.1s;
  background: #6ef3d6;
}

.main-sections__container .plans__container {
  margin-bottom: 40px;
}

.main-sections__container .plans__container .container-title {
  text-align: center;
  margin-bottom: 24px;
}

.main-sections__container .plans__container .plans__form-input {
  border: 1px solid #BDBDBD;
  width: 100%;
  padding: 0 5px;
}

.main-sections__container .err-msg {
  font-size: 14px;
  color: #f38181;
}

.form-item__show {
  display: inline-block;
  width: 160px;
  border: 1px solid #BDBDBD;
  padding-left: 8px;
}

.calendar-section {
  margin-top: 40px;
  display: flex;
}

.calendar-section #calendar {
  width: 630px;
  padding-top: 24px;
}

.calendar-section #calendar .fc-event-main {
  color: #000000;
}

.calendar-section #calendar .ok_class {
  background: #c6fce5;
}

.calendar-section #calendar .ng_class {
  background: #f38181;
}

.calendar-section .calender-info__container {
  width: 300px;
  padding: 24px;
}

.calendar-section .calender-info__container .calendar-info {
  font-size: 12px;
}

.calendar-section .calender-info__container .calendar-input__msg {
  font-size: 14px;
  color: #f38181;
}

.calendar-section .calender-info__container .calendar-show__tag {
  font-size: 14px;
  margin-left: 16px;
  padding: 8px;
}

.calendar-section .calender-info__container .js-ok-tag {
  background: #c6fce5;
}

.calendar-section .calender-info__container .js-ng-tag {
  background: #f38181;
}

.calendar-section .fc-view-harness {
  font-size: 14px !important;
}

.calendar-section .fc-toolbar-title {
  font-size: 18px !important;
}

.calendar-section .calendar-input__textarea {
  margin-top: 16px;
  padding: 8px;
  height: 160px;
  border: 1px solid black;
  display: block;
  width: 100%;
}

.calendar-section .calendar-input__radio-area {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}

.calendar-section .calendar-input__radio-area .calendaer-input__radio {
  vertical-align: -1px;
  margin-right: 5px;
}

.calendar-section .calendar-input__radio-area .calendar-input__radio__ok-tag {
  padding: 8px 16px;
  background: #c6fce5;
}

.calendar-section .calendar-input__radio-area .calendar-input__radio__ng-tag {
  padding: 8px 16px;
  background: #f38181;
}

.calendar-section .calendar-input__btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.calendar-section .calendar-input__btn-wrap .calendar-input__btn {
  padding: 8px 16px;
  border: 1px solid #757575;
}

.calendar-section .calendar-input__btn-wrap .calendar-input__btn:hover {
  opacity: 0.7;
}

.search-menu__list-nav {
  width: 220px;
}

.search-menu__list-nav form {
  border: 1px solid #BDBDBD;
  padding: 15px 10px;
  border-radius: 10px;
}

.search-menu__list-nav .search-menu__item-foot {
  margin-bottom: 32px;
}

.search-menu__list-nav .search-menu__item-foot .search-menu__item-foot__input {
  border: 1px solid #BDBDBD;
  height: 48px;
  width: 100%;
  padding: 8px;
}

.search-menu__list-nav .search-menu__item-foot .search-menu__item-foot__select {
  border: 1px solid #BDBDBD;
  height: 48px;
  width: 100%;
  padding: 0 8px;
}

.search-menu__list-nav .search-menu__item-btn__wrap .search-menu__item-btn {
  border: 1px solid #BDBDBD;
  background: #ebfffa;
  padding: 8px 16px;
}

.search-menu__list-nav .search-menu__item-btn__wrap .search-menu__item-btn:hover {
  transition: 0.1s;
  background: #c6fce5;
}

.search__section {
  width: 100%;
  padding: 0 56px;
}

.search__section .section-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.search__section .section-info {
  display: flex;
  margin-bottom: 24px;
}

.search__section .section-info .section-info__page {
  margin-left: auto;
}

.search__section .search-section__habits-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 35px;
}

.search__section .search-section__habits-container .habits-list__card {
  width: 280px;
  border: 2px solid #BDBDBD;
  height: 280px;
  padding: 24px;
  box-shadow: 1px 1px 3px #BDBDBD;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-title {
  height: 80px;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-plan {
  font-size: 14px;
  height: 80px;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-profile {
  height: 50px;
  display: flex;
  align-items: center;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-profile .habits-list__card-img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-profile .habits-list__card-name {
  font-size: 14px;
  margin-left: 16px;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-info {
  display: flex;
  font-size: 14px;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-info .habits-list__card-list__mark {
  margin-left: auto;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-info .habits-list__card-like {
  margin-left: auto;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-info .habits-list__card-like .icon-like {
  color: red;
}

.search__section .search-section__habits-container .habits-list__card:hover {
  opacity: 0.8;
}

.profile-edit__section {
  width: 1000px;
  padding: 0 200px;
}

.profile-edit__section .section-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 32px;
}

.profile-edit__section .form-item__title__batch {
  margin-left: 16px;
  padding: 8px;
  font-size: 12px;
  border: 1px solid #BDBDBD;
}

.profile-edit__section .batch-must {
  background: #f38181;
}

.profile-edit__section .batch-option {
  background: #6ef3d6;
}

.profile-edit__section .form-item {
  display: flex;
  height: 60px;
  align-items: top;
}

.profile-edit__section .form-item .form-item__input-area {
  margin-left: auto;
  width: 400px;
}

.profile-edit__section .form-item .form-item__input-area .form-item__input {
  width: 100%;
  padding: 0 8px;
  border: 1px solid #BDBDBD;
}

.profile-edit__section .form-item .form-item__input-area .form-item__input-area__msg {
  display: block;
}

.profile-edit__section .form-item__image {
  display: flex;
  align-items: top;
}

.profile-edit__section .form-item__image .form-item__image-container {
  margin-left: auto;
}

.profile-edit__section .form-item__image .form-item__image-container .form-item__image-wrap {
  width: 200px;
  position: relative;
  border: 3px dotted black;
  line-height: 200px;
  text-align: center;
  height: 200px;
}

.profile-edit__section .form-item__image .form-item__image-container .form-item__image-wrap .input-image,
.profile-edit__section .form-item__image .form-item__image-container .form-item__image-wrap .drop-image,
.profile-edit__section .form-item__image .form-item__image-container .form-item__image-wrap .show-db-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.profile-edit__section .form-item__image .form-item__image-container .form-item__image-wrap .input-image {
  z-index: 3;
  opacity: 0;
}

.profile-edit__section .form-item__image .form-item__image-container .form-item__image-wrap .drop-image {
  z-index: 1;
  opacity: 0;
}

.profile-edit__section .form-item__image .form-item__image-container .form-item__image-wrap .show-db-image {
  z-index: 0;
}

.profile-edit__section .form-item__image .form-item__image-container .form-item__input-area__msg-image {
  display: block;
}

.profile-edit__section .form-item__textarea {
  height: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.profile-edit__section .form-item__textarea .form-item__input-area {
  margin-left: auto;
}

.profile-edit__section .form-item__textarea .form-item__input-area .form-item__textarea__input {
  height: 100px;
  padding: 0 8px;
  width: 400px;
  border: 1px solid #BDBDBD;
}

.profile-edit__section .form-item__textarea .form-item__input-area .form-item__input-area__msg {
  display: block;
}

.profile-edit__section .form-item__btn-wrap {
  height: 40px;
  text-align: center;
}

.profile-edit__section .form-item__btn-wrap .form-item__btn {
  height: 40px;
  border: 1px solid #BDBDBD;
  background: #ebfffa;
  border-radius: 20px;
  width: 160px;
}

.profile-edit__section .form-item__btn-wrap .form-item__btn:hover {
  transition: 0.1s;
  background: #c6fce5;
}

.profile-edit__section .err-msg {
  font-size: 14px;
  color: #f38181;
}

.profile__section .my-profile__container {
  display: flex;
  align-items: center;
  height: 120px;
  margin-bottom: 48px;
}

.profile__section .my-profile__container .my-profile__img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.profile__section .my-profile__container .my-profile__contents {
  margin-left: 24px;
}

.pagination-wrap {
  margin-top: 40px;
  text-align: center;
}

.pagination-wrap li {
  padding: 16px;
  display: inline-block;
}

.withdraw__section {
  width: 1000px;
  padding: 0 200px;
}

.withdraw__section .section-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 32px;
}

.withdraw__section .withdraw__container {
  margin-top: 80px;
}

.withdraw__section .withdraw-form__info {
  text-align: center;
}

.withdraw__section .form-item__btn-wrap {
  margin-top: 60px;
  text-align: center;
}

.withdraw__section .form-item__btn-wrap .form-item__btn {
  width: 120px;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 20px;
  background: #ebfffa;
}

.withdraw__section .form-item__btn-wrap .form-item__btn:hover {
  transition: 0.1s;
  background: #f38181;
}

.plan-helper {
  margin-top: 48px;
  align-items: center;
}

.plan-helper .plan-helper__title {
  text-align: center;
}

.plan-helper .plan-helper__info {
  text-align: center;
}

.plan-helper .plan-helper__table {
  width: 740px;
  border: 1px solid #BDBDBD;
  margin: 24px auto;
}

.plan-helper .plan-helper__table tbody {
  width: 720px;
  text-align: center;
}

.plan-helper .plan-helper__table td {
  width: 50%;
  padding: 10px;
}

.plan-helper .plan-helper__table .plan-helper__table__top {
  background: #ebfffa;
}

.plan-helper .plan-helper__table .plan-helper__table__middle {
  background: #c6fce5;
  height: 50px;
}

.plan-helper .plan-helper__btn {
  border: 1px solid #BDBDBD;
  background: #c6fce5;
  padding: 5px 15px;
}

.plan-helper .plan-helper__btn:hover {
  opacity: 0.7;
}

.form-item__helper {
  position: absolute;
  top: 0;
  right: 0;
}

.form-item__helper .fa-trash-alt {
  font-size: 18px;
  padding: 8px;
}

.form-item__helper .fa-trash-alt:hover {
  cursor: pointer;
}

.form-item__helper .like-btn__link {
  display: inline-block;
}

.form-item__helper .like-btn {
  padding: 16px;
  font-size: 18px;
}

.form-item__helper .like-btn:hover {
  opacity: 0.5;
}

.form-item__helper .removelike-btn {
  color: red;
}

.form-item__helper .form-item__like-count {
  display: inline-block;
}

.delete-form {
  width: 180px;
  height: 140px;
  background: whitesmoke;
  position: absolute;
  left: -180px;
  top: 0px;
  display: none;
  padding: 10px;
}

.delete-form .delete-form__info {
  font-size: 14px;
}

.delete-form .delete-btn {
  margin: 10px auto 10px;
  display: block;
  padding: 5px 10px;
  border: 1px solid black;
}

.delete-form .delete-btn:hover {
  opacity: 0.7;
}

.welcome__content {
  width: 980px;
  margin: 30px auto;
}

.welcome__content .content-title {
  font-size: 24px;
  font-weight: bold;
}

.mainvisual-img {
  width: 100%;
  height: calc(100vh - 70px);
  -o-object-fit: cover;
     object-fit: cover;
}

#footer {
  width: 100%;
  height: 30px;
  background: #ebfffa;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
}

