html,
body {
  width: 100%;
  color: #212121;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.1rem;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  display: block;
}

#header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ebfffa;
}

#header .inner {
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
}

#header .header__nav-list {
  display: flex;
}

#header .header__nav-item {
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
}

.logined-header__nav-item .logined-header__nav-item__img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

#main .main__inner {
  width: 1200px;
  margin: 15px auto;
}

#main .columns-2 {
  display: flex;
}

.input-panel__container {
  display: flex;
  justify-content: space-around;
}

.input-panel {
  width: 480px;
  padding: 20px 30px;
}

.input-panel .panel-title {
  font-size: 30px;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: #757575 1px solid;
}

.input-panel .form-item {
  margin-top: 10px;
}

.input-panel .form-item .form-item__body .form-item__input {
  display: block;
  border: 1px solid #BDBDBD;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  padding-left: 5px;
}

.input-panel .form-item .form-item__body .form-item__body__error {
  font-size: 12px;
  color: #f38181;
}

.input-panel .input-panel-btn__wrap {
  padding-top: 15px;
}

.input-panel .input-panel-btn__wrap .submit-btn {
  width: 100%;
  text-align: center;
  background: #6ef3d6;
  height: 40px;
  border-radius: 5px;
}

.input-panel .input-panel-btn__wrap .submit-btn__link {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.input-panel .input-panel-btn__wrap .submit-btn__link {
  color: #757575;
}

.login-panel .submit-btn {
  margin-bottom: 10px;
}

.login-panel .login-btn__info {
  text-align: center;
}

.login-panel .submit-checkbox {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.login-panel .login-btn__info-msg {
  font-size: 14px;
  vertical-align: bottom;
}

.dashbord-menu__list-nav {
  width: 200px;
  font-size: 18px;
}

.dashbord-menu__list-nav .dashbord-menu__list-ul .dashbord-menu__list-item {
  margin-bottom: 15px;
}

.dashbord-menu__list-nav .dashbord-menu__list-ul .dashbord-menu__list-item .dashbord-menu__list-item-link i {
  margin-right: 10px;
}

.dashbord-menu__list-nav .profile-card {
  padding: 5px 10px;
  border: 1px solid #BDBDBD;
}

.dashbord-menu__list-nav .profile-card .profile-card__img {
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

.dashbord-menu__list-nav .profile-card .profile-card__name {
  font-size: 14px;
}

.my-habits__section {
  width: 100%;
  padding: 0 50px;
}

.my-habits__section .section-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.my-habits__section .my-habits__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.my-habits__section .my-habits__container .my-habits__card {
  width: 440px;
  height: 160px;
  padding: 15px;
  border: 1px solid #BDBDBD;
  margin-bottom: 30px;
  border-radius: 12px;
}

.my-habits__section .my-habits__container .my-habits__card .my-habits__card-body {
  height: 80px;
  overflow: hidden;
}

.my-habits__section .my-habits__container .my-habits__card .my-habits__card-foot {
  display: flex;
  justify-content: space-around;
}

.my-habits__section .my-habits__container .my-habits__card .my-habits__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30px;
  background-color: #e8a48b;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 2;
  text-decoration: none;
  transition-duration: 0.3s;
  position: relative;
}

.my-habits__section .my-habits__container .my-habits__card .my-habits__button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 40px 0 0;
  border-color: #ffffff transparent transparent transparent;
}

.my-habits__section .my-habits__container .my-habits__card .my-habits__button:after {
  content: "";
  position: absolute;
  top: -6px;
  left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 30px;
  border-color: transparent transparent #efefef transparent;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
  transform: rotate(16deg);
}

.my-habits__section .my-habits__container .my-habits__card .my-habits__button span {
  position: relative;
  padding-left: 16px;
  letter-spacing: 0.05em;
}

.my-habits__section .my-habits__container .my-habits__card .my-habits__button span:before {
  content: "";
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
}

.main-sections__container {
  width: 100%;
  padding: 15px 50px;
}

.main-sections__container .section-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.main-sections__container .habit-input__container .form-item__columns-3 {
  display: flex;
}

.main-sections__container .habit-input__container .form-item__columns-3__contents {
  width: 20%;
}

.main-sections__container .habit-input__container .form-item {
  margin-bottom: 15px;
}

.main-sections__container .habit-input__container .form-item .form-item__body .form-item__select {
  width: 180px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 5px;
}

.main-sections__container .habit-input__container .form-item .form-item__body .form-item__textarea {
  width: 100%;
  padding: 0 5px;
  height: 60px;
  border: 1px solid gray;
}

.main-sections__container .btn-wrap {
  display: flex;
  justify-content: center;
}

.main-sections__container .form-input_btn {
  padding: 5px;
  border: 1px solid #757575;
  border-radius: 10px;
  background: #ebfffa;
}

.main-sections__container .plans__container {
  margin-bottom: 30px;
}

.main-sections__container .plans__container .container-title {
  text-align: center;
  margin-bottom: 15px;
}

.main-sections__container .plans__container .plans__form-input {
  border: 1px solid gray;
  width: 100%;
  padding: 0 5px;
}

.main-sections__container .err-msg {
  font-size: 14px;
  color: #f38181;
}

.calendar-section {
  display: flex;
}

.calendar-section #calendar {
  width: 630px;
  padding-top: 15px;
}

.calendar-section #calendar .fc-event-main {
  color: #000000;
}

.calendar-section #calendar .ok_class {
  background: #c6fce5;
}

.calendar-section #calendar .ng_class {
  background: #f38181;
}

.calendar-section .calender-info__container {
  width: 300px;
  padding: 15px;
}

.calendar-section .fc-view-harness {
  font-size: 14px !important;
}

.calendar-section .fc-toolbar-title {
  font-size: 18px !important;
}

.calendar-section .calendar-input__textarea {
  margin-top: 10px;
  padding: 5px;
  height: 160px;
  border: 1px solid black;
  display: block;
  width: 100%;
}

.calendar-section .calendar-input__radio-wrap {
  margin-top: 10px;
}

.calendar-section .calendar-input__radio-wrap .calendaer-input__radio {
  vertical-align: -1px;
  margin-right: 5px;
}

.calendar-section .calendar-input__btn-wrap {
  display: flex;
  justify-content: flex-end;
}

.calendar-section .calendar-input__btn-wrap .calendar-input__btn {
  padding: 5px 10px;
  border: 1px solid #757575;
}

.search-menu__list-nav {
  width: 200px;
}

.search-menu__list-nav .search-menu__item-foot {
  margin-bottom: 20px;
}

.search-menu__list-nav .search-menu__item-foot .search-menu__item-foot__input {
  border: 1px solid #BDBDBD;
  height: 40px;
  width: 100%;
  padding: 5px;
}

.search-menu__list-nav .search-menu__item-foot .search-menu__item-foot__select {
  border: 1px solid #BDBDBD;
  height: 40px;
  width: 100%;
  padding: 0 5px;
}

.search-menu__list-nav .search-menu__item-btn__wrap .search-menu__item-btn {
  border: 1px solid #BDBDBD;
  padding: 5px 10px;
}

.search__section {
  width: 100%;
  padding: 0 50px;
}

.search__section .section-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.search__section .section-info {
  display: flex;
  margin-bottom: 15px;
}

.search__section .section-info .section-info__page {
  margin-left: auto;
}

.search__section .search-section__habits-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
}

.search__section .search-section__habits-container .habits-list__card {
  width: 280px;
  border: 1px solid gray;
  height: 280px;
  padding: 15px;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-title {
  height: 80px;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-plan {
  font-size: 14px;
  height: 80px;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-profile {
  height: 50px;
  display: flex;
  align-items: center;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-profile .habits-list__card-img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-profile .habits-list__card-name {
  font-size: 14px;
  margin-left: 10px;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-info {
  display: flex;
  font-size: 14px;
}

.search__section .search-section__habits-container .habits-list__card .habits-list__card-info .habits-list__card-list__mark {
  margin-left: auto;
}

.profile-edit__section {
  width: 1000px;
  padding: 0 200px;
}

.profile-edit__section .section-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.profile-edit__section .form-item__title__batch {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #BDBDBD;
}

.profile-edit__section .batch-must {
  background: #f38181;
}

.profile-edit__section .batch-option {
  background: #6ef3d6;
}

.profile-edit__section .form-item {
  display: flex;
  height: 60px;
  align-items: top;
}

.profile-edit__section .form-item .form-item__input-area {
  margin-left: auto;
  width: 400px;
}

.profile-edit__section .form-item .form-item__input-area .form-item__input {
  width: 100%;
  padding: 0 5px;
  border: 1px solid #BDBDBD;
}

.profile-edit__section .form-item .form-item__input-area .form-item__input-area__msg {
  display: block;
}

.profile-edit__section .form-item__image {
  display: flex;
  align-items: top;
}

.profile-edit__section .form-item__image .form-item__image-container {
  margin-left: auto;
}

.profile-edit__section .form-item__image .form-item__image-container .form-item__image-wrap {
  width: 200px;
  position: relative;
  border: 3px dotted black;
  line-height: 200px;
  text-align: center;
  height: 200px;
}

.profile-edit__section .form-item__image .form-item__image-container .form-item__image-wrap .input-image,
.profile-edit__section .form-item__image .form-item__image-container .form-item__image-wrap .drop-image,
.profile-edit__section .form-item__image .form-item__image-container .form-item__image-wrap .show-db-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.profile-edit__section .form-item__image .form-item__image-container .form-item__image-wrap .input-image {
  z-index: 3;
  opacity: 0;
}

.profile-edit__section .form-item__image .form-item__image-container .form-item__image-wrap .drop-image {
  z-index: 1;
  opacity: 0;
}

.profile-edit__section .form-item__image .form-item__image-container .form-item__image-wrap .show-db-image {
  z-index: 0;
}

.profile-edit__section .form-item__image .form-item__image-container .form-item__input-area__msg-image {
  display: block;
}

.profile-edit__section .form-item__textarea {
  height: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.profile-edit__section .form-item__textarea .form-item__input-area {
  margin-left: auto;
}

.profile-edit__section .form-item__textarea .form-item__input-area .form-item__textarea__input {
  height: 100px;
  padding: 0 5px;
  width: 400px;
  border: 1px solid #BDBDBD;
}

.profile-edit__section .form-item__textarea .form-item__input-area .form-item__input-area__msg {
  display: block;
}

.profile-edit__section .form-item__btn-wrap {
  height: 40px;
  text-align: center;
}

.profile-edit__section .form-item__btn-wrap .form-item__btn {
  height: 40px;
  width: 80px;
  border: 1px solid #BDBDBD;
}

.profile-edit__section .err-msg {
  font-size: 14px;
  color: #f38181;
}

.profile__section .my-profile__container {
  display: flex;
  align-items: center;
  height: 120px;
  margin-bottom: 40px;
}

.profile__section .my-profile__container .my-profile__img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.profile__section .my-profile__container .my-profile__contents {
  margin-left: 15px;
}

.pagination-wrap {
  margin-top: 30px;
  text-align: center;
}

.pagination-wrap li {
  padding: 10px;
  display: inline-block;
}

#footer {
  width: 100%;
  height: 30px;
  background: #ebfffa;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
}

