<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/app/public/css/reset.css">
    <link rel="stylesheet" href="/app/public/css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <div class="inner">
            <h1 class="logo">
                <a href=""><img src="/app/public/img/top_banner.png" alt=""></a>
            </h1>
            <nav>
                <ul class="header__nav-list">
                    <li class="logined-header__nav-item">
                        <a href="">
                        <img class="logined-header__nav-item__img" src="/app/public/img/top_banner.png" alt="">
                        </a>
                    </li>
                    <li><a href="">マイページ</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main id="main">
        < class="main__inner columns-2">
            <nav class="search-menu__list-nav">
                <div class="search-menu__item-head">
                    <p class="search-menu__item-head__text">キーワード</p>
                </div>
                <div class="search-menu__item-foot">
                    <input type="text" class="search-menu__item-foot__input">
                </div>
                <div class="search-menu__item-head">
                    <p class="search-menu__item-head__text">カテゴリー</p>
                </div>
                <div class="search-menu__item-foot">
                    <select name="" id=""  class="search-menu__item-foot__select">
                        <option value="" class="search-menu__item-foot__option">勉強</option>
                        <option value="" class="search-menu__item-foot__option">運動</option>
                    </select>
                </div>
                <div class="search-menu__item-btn__wrap">
                    <button class="search-menu__item-btn">検索する</button>
                </div>

            </nav>

            <section class="search__section">
                <h2 class="section-title">習慣を探す</h2>
                

            </div>
            </section>
        </div>
    </main>


</body>
</html>
