
// ============================
// 変数
// ============================

$first-color: #ebfffa;
$second-color: #c6fce5;
$third-color: #6ef3d6;
$fourth-color: #0dceda;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$icon-color: #000000;
$msg-color:#f38181;

$site-width:1200px;

$font-size_s:12px;
$font-size_m:14px;
$font-size_default:16px;
$font-size_l:18px;
$font-size_xl:24px;
$font-size_xxl:30px;
$font-size_3l:38px;

$space_s:5px;
$space_m:10px;
$space_l:15px;
$space_xl:20px;
$space_xxl:30px;
$space_3l:40px;
$space_4l:50px;

$breakpoints: (
    'sm' : 'screen and (max-width:414px)',
    'md' : 'screen and (max-width:768px)',
    'lg' : 'screen and (max-width:1000px)',
    'xl' : 'screen and (max-width:1200px)',
) !default;


// ============================
// mixin
// ============================
@mixin mq($breakpoints: sm){
    @media #{map-get($breakpoints, $breakpoint)}{
        @content;
    }
}

// CodeSeven/toastr
@import "toastr";
.toast {
    width:400px;
    color:$primary-text-color;
 }
 .toast-success {
    background-color: $fourth-color;
    color:black;

 }





// ============================
// base
// ============================
html, body{
    width:100%;
    color:$primary-text-color;
    font-size: $font-size_default;
    line-height: 1.6;
    letter-spacing: 0.1rem;
}
body{
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
a{
    display: block;
}
// ============================
// js-show-msg
// ============================
.msg-slide{
    position: absolute;
    background: rgba(13,206,218,0.7);
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
// ============================
// header
// ============================
#header{
    height:70px;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:$first-color;
    box-shadow: 0 3px 6px rgb(0 0 0 / 5%);
    .inner{
        display: flex;
        align-items: center;
        width:$site-width;
        justify-content: space-between;
    }
    .header__nav-list{
        display: flex;

    }
    .header__nav-item{
        padding:$space_s;
        border-radius:5px;
        margin-left:$space_m;
    }


}

// ============================
// logined-header
// ============================
.logined-header__nav-item{
    .logined-header__nav-item__img{
        width:36px;
        height:36px;
        border-radius: 18px;
    }
}


// ============================
// main
// ============================
#main{

    .main__inner{
        width:$site-width;
        margin:$space_xl auto;
    }
    .columns-2{
        display: flex;
    }
}


// ============================
// input-panel
// ============================
.input-panel__container{
    display: flex;
    justify-content: space-around;
}
.input-panel{
    width:480px;
    padding:$space_xl $space_xxl;
    .panel-title{
        font-size:$font-size_xxl;
        text-align: center;
        padding-bottom: 15px;
        border-bottom: $secondary-text-color 1px solid;
    }
    .form-item{
        margin-top:$space_m;
        .form-item__body{
            .form-item__input{
                display: block;
                border: 1px solid $divider-color;
                width: 100%;
                border-radius: $space_m;
                height: $space_3l;
                padding-left: 5px;
            }
            .form-item__body__error{
                font-size: $font-size_s;
                color:$msg-color;
            }
        }

    }
    .input-panel-btn__wrap{
        padding-top:$space_l;
        .submit-btn{
            width:100%;
            text-align: center;
            background: $third-color;
            height: $space_3l;
            border-radius: 5px;
            &:hover{
                background: $fourth-color;
            }
        }
        .submit-btn__link{
            margin-top:$space_xl;
            text-align: center;
            font-size: $font-size_m;
        }
        .submit-btn__link{
            color: #757575;
        }
    }
}

// ============================
// login-panel
// ============================

.login-panel{
    .submit-btn{
        margin-bottom:$space_m;
    }
    .login-btn__info{
        text-align: center;
    }
    .submit-checkbox{
        width:$space_l;
        height: $space_l;
        margin-right:$space_s;
    }
    .login-btn__info-msg{
        font-size: $font-size_m;
        vertical-align: bottom;
    }

}

// ============================
// dashbord-menu
// ============================
.dashbord-menu__list-nav{
    width:200px;
    font-size:$font-size_default;
    .dashbord-menu__list-ul{
        border: 1px solid $divider-color;
        padding: 15px 10px;
        border-radius: 10px;
        .dashbord-menu__list-item{
            margin-bottom:$space_l;
            .dashbord-menu__list-item-link{
                i{
                    margin-right: $space_m;
                }
            }
        }
    }
    .profile-card{
        padding:$space_s $space_m;
        border:1px solid $divider-color;
        .profile-card__img{
            width: 28px;
            height: 28px;
            border-radius: 14px;
        }
        .profile-card__name{
            font-size:$font-size_m;
        }
    }
}

// ============================
// my-habits__section
// ============================
.my-habits__section{
    width:100%;
    padding:0 $space_4l;
    .section-title{
        font-size:$font-size_l;
        text-align: center;
        margin-bottom:$space_xxl;
    }
    .my-habits__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .my-habits__card{
            width:440px;
            height:160px;
            padding:$space_l;
            border:1px solid $divider-color;
            margin-bottom:$space_xxl;
            border-radius: 12px;
            .my-habits__card-body{
                height: 80px;
                overflow: hidden;
            }
            .my-habits__card-foot{
                display: flex;
                justify-content: space-around;
            }
            .my-habits__button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                height: 30px;
                background-color: #e8a48b;
                box-sizing: border-box;
                color: #fff;
                font-size: 16px;
                letter-spacing: 0.1em;
                line-height: 2.0;
                text-decoration: none;
                transition-duration: 0.3s;
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 30px 40px 0 0;
                    border-color: #ffffff transparent transparent transparent;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: -6px;
                    left: 5px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 40px 30px;
                    border-color: transparent transparent #efefef transparent;
                    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
                    transform: rotate(16deg);
                }
                span{
                    position: relative;
                    padding-left: 16px;
                    letter-spacing: 0.05em;
                    &:before{
                        content: '';
                        width: 6px;
                        height: 6px;
                        border: 0;
                        border-top: solid 2px #fff;
                        border-right: solid 2px #fff;
                        transform: rotate(45deg);
                        position: absolute;
                        top: 50%;
                        left: 0;
                        margin-top: -4px;
                    }
                }
            }
        }
    }
}

// ============================
// habit-input
// ============================
.main-sections__container{
    width:100%;
    padding:0 $space_3l;
    .section-title{
        font-size:$font-size_l;
        text-align: center;
        margin-bottom:$space_xxl;
    }
    .habit-input__container{
        .form-item__columns-3{
            display: flex;
        }
        .form-item__columns-3__contents{
            width:20%;
        }
        .form-item{
            margin-bottom:$space_l;

            .form-item__body{
                .form-item__select{
                    width: 180px;
                    border: 1px solid gray;
                    border-radius: 5px;
                    padding: 0 $space_s;
                }
                .form-item__textarea{
                    width: 100%;
                    padding: 0 5px;
                    height: 60px;
                    border: 1px solid gray;
                }
            }
            .form-item__checkbox{
                width: 18px;
                height: 18px;
                vertical-align: -2px;
            }
        }
    }
    .btn-wrap{
        display: flex;
        justify-content: center;
    }
    .form-input_btn{
        width: 160px;
        text-align: center;
        padding:$space_s;
        border:2px solid $fourth-color;
        border-radius: 10px;
        &:hover{
            transition: 0.1s;
            background: $third-color;
        }
    }
    .plans__container{
        margin-bottom:$space_xxl;
        .container-title{
            text-align: center;
            margin-bottom:$space_l;
        }
        .plans__form-input{
            border: 1px solid gray;
            width: 100%;
            padding: 0 5px;
        }

    }
    .err-msg{
        font-size: $font-size_m;
        color:$msg-color;
    }
}

// ============================
// calendar
// ============================
.calendar-section{
    display: flex;
    #calendar{
        width:630px;
        padding-top: $space_l;
        .fc-event-main{
            color:#000000;
        }
        .ok_class{
            background: $second-color;
        }
        .ng_class{
            background: $msg-color;
        }

    }
    .calender-info__container{
        width:300px;
        padding:$space_l;
    }
    .fc-view-harness{
        font-size: 14px !important;
    }
    .fc-toolbar-title{
        font-size:18px !important;
    }
    .calendar-input__textarea{
        margin-top:$space_m;
        padding:$space_s;
        height: 160px;
        border: 1px solid black;
        display: block;
        width: 100%;
    }
    .calendar-input__radio-wrap{
        margin-top:$space_m;
        .calendaer-input__radio{
            vertical-align: -1px;
            margin-right: 5px;
        }
    }
    .calendar-input__btn-wrap{
        display: flex;
        justify-content: flex-end;
        .calendar-input__btn{
            padding: $space_s $space_m;
            border: 1px solid $secondary-text-color;
        }
    }
}
// ============================
// search-menu
// ============================
.search-menu__list-nav{
    width:220px;
    form{
        border: 1px solid gray;
        padding: 15px 10px;
        border-radius: 10px;
    }

    .search-menu__item-foot{
        margin-bottom:$space_xl;
        .search-menu__item-foot__input{
            border: 1px solid $divider-color;
            height: $space_3l;
            width:100%;
            padding: $space_s;
        }
        .search-menu__item-foot__select{
            border: 1px solid $divider-color;
            height: $space_3l;
            width:100%;
            padding: 0 $space_s;
        }
    }
    .search-menu__item-btn__wrap{
        .search-menu__item-btn{
            border:1px solid $divider-color;
            background: $first-color;
            padding:$space_s $space_m;
            &:hover{
                transition: 0.1s;
                background: $second-color;
            }
        }
    }


}
// ============================
// search-seciton
// ============================
.search__section{
    width:100%;
    padding:0 $space_4l;
    .section-title{
        font-size: $font-size_l;
        text-align: center;
        margin-bottom:$space_xxl;
    }
    .section-info{
        display: flex;
        margin-bottom: $space_l;
        .section-info__page{
            margin-left: auto;
        }
    }
    .search-section__habits-container{
        display: flex;
        flex-wrap: wrap;
        gap:20px 10px;
        // justify-content: space-between;
        .habits-list__card{
            width: 280px;
            border: 1px solid gray;
            height: 280px;
            padding: $space_l;
            .habits-list__card-title{
                height:80px;
            }
            .habits-list__card-plan{
                font-size:$font-size_m;
                height:80px;
            }
            .habits-list__card-profile{
                height: 50px;
                display: flex;
                align-items: center;
                .habits-list__card-img{
                    width: 32px;
                    height: 32px;
                    border-radius: 16px;
                }
                .habits-list__card-name{
                    font-size:$font-size_m;
                    margin-left:$space_m;
                }
            }
        .habits-list__card-info{
            display: flex;
            font-size:$font-size_m;
            .habits-list__card-list__mark{
                margin-left: auto;
            }
        }
    }
}
}
// ============================
// profile-edit-seciton
// ============================
.profile-edit__section{
    width: 1000px;
    padding: 0 200px;
    .section-title{
        font-size:$font-size_l;
        text-align: center  ;
        margin-bottom:$space_xl;
    }
    .form-item__title__batch{
        margin-left:$space_m;
        padding:$space_s;
        font-size:$font-size_s;
        border:1px solid $divider-color;
    }
    .batch-must{
        background: $msg-color;
    }
    .batch-option{
        background: $third-color;
    }
    .form-item{
        display: flex;
        height: 60px;
        align-items: top;
        .form-item__input-area{
            margin-left:auto;
            width:400px;
            .form-item__input{
                width:100%;
                padding:0 $space_s;
                border:1px solid $divider-color;
            }
            .form-item__input-area__msg{
                display: block;
            }
        }
    }
    .form-item__image{
        display: flex;
        align-items: top;
        .form-item__image-container{

            margin-left:auto;
            .form-item__image-wrap{
            width:200px;
            position: relative;
            border: 3px dotted black;
            line-height: 200px;
            text-align: center;
            height: 200px;
            .input-image,
            .drop-image,
            .show-db-image{
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
            }
            .input-image{
                z-index: 3;
                opacity: 0;
            }
            .drop-image{
                z-index: 1;
                opacity: 0;

            }
            .show-db-image{
                z-index: 0;
            }
        }
        .form-item__input-area__msg-image{
            display: block;
        }
    }
    }
    .form-item__textarea{
        height: 120px;
        display: flex;
        align-items: center;
        margin-bottom:$space_xxl;
        .form-item__input-area{
            margin-left:auto;

            .form-item__textarea__input{
                height: 100px;
                padding:0 $space_s;
                width:400px;
                border:1px solid $divider-color;
            }
            .form-item__input-area__msg{
                display: block;
            }
        }
    }
    .form-item__btn-wrap{
        height: 40px;
        text-align: center;
        .form-item__btn{
            height: 40px;
            border:1px solid $divider-color;
            background:$first-color;
            border-radius: 20px;
            width: 160px;
            &:hover{
                transition: 0.1s;
                background:$second-color;
            }

        }
    }
    .err-msg{
        font-size: $font-size_m;
        color:$msg-color;
    }
}
// ============================
// profile-edit-seciton
// ============================
.profile__section{
    .my-profile__container{
        display: flex;
        align-items: center;
        height: 120px;
        margin-bottom:$space_3l;
        .my-profile__img{
            width:80px;
            height: 80px;
            border-radius: 40px;
        }
        .my-profile__contents{
            margin-left:$space_l;
        }
    }
}


// ============================
// pagination
// ============================
.pagination-wrap{
    margin-top:$space_xxl;
    text-align: center;
    li{
        padding:$space_m;
        display: inline-block;
    }
}


// ============================
// plan-helper
// ============================
.plan-helper{
    margin-top:$space_3l;
    align-items: center;
    .plan-helper__title{
        text-align: center;
    }
    .plan-helper__info{
        text-align: center;
    }
    .plan-helper__table{
        width:740px;
        border:1px solid $divider-color;
        margin:$space_l auto;
        tbody{
            width:680px;
        }
        tr{
            height: 40px;
        }
        td{
            width:50%;
        }

    }
    .plan-helper__btn{
        border:1px solid $divider-color;
        background: $second-color;
    }


}




// ============================
// footer
// ============================
#footer{

    width: 100%;
    height: 30px;
    background: $first-color;
    font-size: $font-size_s;
    text-align: center;
    line-height: 30px;
}

